h1{
    font-size: 50px;
    font-family: "Sofia", cursive;
    font-weight: bolder;
    color:#003366;
    text-align: center;
    margin: 20px;
}

.boxclass{
    background-color: snow;
    padding:15px;
    border: double 7px #003366;
    color: #003366;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.boxclass p {
    font-size: 20px;
}

.boxclass h2 {
    font-size: 26px;
}

.boxclass img { 
    height: 325px;
}

body {
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.imageclass{
    border: solid 3px #003366;
    margin-left: auto;
    margin-right: auto;
    height: 325px;
    display: inline-block;
    position: relative;
}

.navclass{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.navclass img {
    width: 19%;
}

.navclass a {
    text-decoration: none;
}